@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gravitas+One&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --gg-g:rotate(45deg);
  --hh-h:rotate(-45deg);
  --hh-t:none ;
}

.cl, .cll {
  background: transparent;
  position: relative;
  right: 10px;
}
.cl::before, .cll::before {
  content: "";
  position: absolute;
  bottom: 43%;
  right: -45px;
  -webkit-transform: var(--gg-g);
          transform: var(--gg-g);
  background-color: white;
  width: 20px;
  height: 3px;
  -webkit-transition: var(--hh-t);
  transition: var(--hh-t);
}
.cl::after, .cll::after {
  content: "";
  position: absolute;
  bottom: 43%;
  right: -45px;
  -webkit-transform: var(--hh-h);
          transform: var(--hh-h);
  background-color: white;
  width: 20px;
  height: 3px;
  -webkit-transition: var(--hh-t);
  transition: var(--hh-t);
}

.wastaTeam {
  margin-left: 100px;
  background: transparent;
  margin-top: -8px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  margin-left: 70px;
  padding-right: 40px;
  font-family: "Anton";
}

header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 600px;
  z-index: 100;
}

.navigation {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 8px;
  font-size: 15px;
  font-family: "Anton";
  background: transparent;
  color: rgb(255, 255, 255);
  position: relative;
}
.navigation:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13%;
  width: 20px;
  height: 3px;
  background: rgba(255, 255, 255, 0.6);
}

.kk {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 8px;
  font-size: 15px;
  font-family: "Anton";
  background: transparent;
  color: rgb(255, 255, 255);
  position: relative;
}
.kk::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13%;
  width: 20px;
  height: 3px;
  background: rgb(255, 255, 255);
}

.flower {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 100%;
}

.TeamCs2 {
  display: inline-block;
  margin-left: 10%;
  margin-top: 80px;
}

.TeamCs2 p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  font-family: "Anton";
  padding: 20px;
  font-size: 50px;
  color: whitesmoke;
}
.TeamCs2 p:hover {
  background-color: whitesmoke;
  color: black;
}

.TeamCs2 span {
  font-size: 14px;
  font-family: "Oswald";
}

@media (max-width: 767px) {
  header {
    width: 100%;
    height: 100%;
  }
  .header-navigation {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row-align: center;
        align-self: center;
    height: 400px;
    margin-left: 40px;
  }
  .kk::after {
    display: none;
  }
  .wastaTeam {
    display: none;
  }
  .cl, .cll {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: first baseline;
        align-self: first baseline;
    margin-top: 30px;
  }
  .flower {
    display: none;
  }
  .TeamCs2 p {
    font-size: 30px;
    margin-left: 80px;
  }
  .TeamCs2 p:hover {
    display: none;
  }
}
@media (min-width: 767px) {
  .flower {
    width: 300px;
  }
}